@model FreeChat.Models.ViewModels.ChatEngineViewModel
@using Microsoft.Owin.Security

@{   ViewBag.Title = "ChatEngine";

}

@Styles.Render("~/bundles/ChatEngineViewStyle")


<div class="container-fluid" id="ChatEngineContainer">
    <div class="row" id="chatEngineHeadContainer">
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-6">
                    <div id="chatenginehead">
                        <ul class="list-group" id="roomsInfo">
                            <li class="list-group-item"><strong>Name</strong>&nbsp;&nbsp;@Model.Name <br /><strong>Description</strong>&nbsp;&nbsp;@Model.Description<br /><strong>Genre</strong>&nbsp;&nbsp;@Model.Genre</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ul class="list-group " id="roomsInfo2">
                        <li class="list-group-item"><strong>Date</strong>&nbsp;&nbsp;@DateTime.Now<br /> <strong>Expiring</strong>&nbsp;&nbsp;@Model.ExpirationDate  <br /><strong>Created</strong>&nbsp;&nbsp;@Model.CreatedDate</li>
                    </ul>
                </div>
               
            </div>
           
        </div>
        <div class="col-lg-2">
            <ul class="list-group" id="roomsInfo3">
                <li class="list-group-item text-center" id="usersConnected"><strong>Users Connected</strong><div class="text-center"><h1><a href="#">1</a></h1> </div></li>
               
            </ul>
        </div>
  
    </div>
    <button class="btn btn-info align-content-center" id="hideShowInfoButton">Hide Infos</button>      
    <button class="btn btn-warning align-content-center" id="leaveRoomBtn">Exit Room</button>      
    <div class="row" id="chatEngineMiddle">
        <div class="col-lg-10">
            <div id="messagesArea">
                <ul class="inner-list"></ul>
            </div>
        </div>
        <div class="col-lg-2" id="onlineUsersContainer">
            <div class="member_list ">
                <div class="card">
                    <div class="card-block text-center">
                        <h5>Online Users</h5>
                    </div>
                </div>
                <ul id="list-onlineUsers" class="list-group"></ul>
            </div>
        </div>
    </div>
    <div class="row" id="chatEngineFooterContainer">
        <div class="col-lg-10" id="chatEngineFooter">
            <div class="message_write">
                <textarea class="form-control" placeholder="type a message" id="messageTyped"></textarea>
                <button class="pull-right btn btn-success col-md-1" id="send">Send</button>
            </div>
        </div>
        <div class="col-lg-2">
        
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/ChatEngineView")
    <script src="/signalr/hubs"></script>

    <script type="text/javascript">
        $(function () {
         
            ChatEngineController.Init({
                RoomName:"@Model.Name.ToString()"
            });
        });
    </script>

}
