@{
    ViewBag.Title = "About";
}


<div id="GeneralInfo" class="container">
    <div class="row">


        <div id="freeChatInfo" class="col">
            <center><img id="logo" src="~/Content/images/chat_image.png" width="150" height="90" /></center>
            <br />
            <center>
                <h4>
                    <strong>Free Chat</strong> is a chat room system created and developed by Kostas Kapasakis <br />

                    Registered users have the oppurtunity to enter to any of the available chat rooms
                    <br />or create one and choose the topic they want to discuss on
                </h4>
            </center><br />

        </div>
    </div>

    <div class="row" id="aboutrow">
        <div id="second" class="col-lg-7">
            <h4><strong>Free Chat</strong> is created and developed using the following technologies :</h4>
            <ul>
                <li>
                    <p>ASP.NET MVC 5</p>
                </li>
                <li>
                    <p>Entity Framework 6</p>
                </li>
                <li>
                    <p>Signal-R 2.2.1</p>
                </li>
                <li>
                    <p> Javascript </p>
                </li>
                <li>
                    <p>HTML5  CSS3-Bootstrap </p>
                </li>

            </ul>

        </div>


        <div id="Contact" class="col-lg-5">
            <ul>
                <li><h4>Contact Us:</h4></li>
                <li>
                    <p><a>kkkapasakis@yahoo.gr</a></p>
                </li>
                <li>
                    <p><a>konstantinos.kapasakis@nielsen.com</a></p>
                </li>
                <li>
                    <p>LinkedIn : Kostas kapasakis</p>
                </li>
                <li>
                    <p>Stack Overflow: k.explorer</p>
                </li>
            </ul>
        </div>
    </div>
</div>
