@{
    ViewBag.Title = "About";
}


<div id="GeneralInfo" class="container">
    <br />
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Free Chat</h5>
                    <p class="card-text"><strong>Free Chat</strong> is a real time web application created and developed by <strong>Kostas Kapasakis.</strong>
                        Registered users have the oppurtunity to enter to any of the available chat rooms
                        or create one and choose the topic they want to discuss on
                    </p>
                    <a href="https://github.com/kkblues/FreeChat" class="card-link">GitHub repository</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-4"></div>
        <div id="freeChatInfoTech" class="col-lg-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Technology Stack</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Description</h6>
                    <p class="card-text">
                        <strong>Free Chat</strong> is created and developed using the following technologies :
                    </p>
                    <ul>
                        <li>
                            <p>C# 7</p>
                        </li>
                        <li>
                            <p>ASP.NET MVC 5</p>
                        </li>
                        <li>
                            <p>Entity Framework 6</p>
                        </li>
                        <li>
                            <p>Signal-R 2.2.2</p>
                        </li>
                        <li>
                            <p> Javascript </p>
                        </li>
                        <li>
                            <p>HTML5 CSS3 Bootstrap 4 </p>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-2"></div>
    </div>
</div>

