
@{
    ViewBag.Title = "Free Chat";
    Layout = "~/Views/Shared/_AdminTemplate.cshtml";
}



<div class="row align-items-center justify-content-center">
    <div class="col">
            @Html.ActionLink("Create Room", "Create", "ChatRoom", null, new { @class = "btn btn-primary" })       
    </div>
</div>

<div class="card m-5">
    <div class="card-header">
        <i class="fa fa-table"></i> Chat Rooms
    </div>
    <div class="card-body">
        <div class="table-responsive">
                <table id="allChatRooms" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Genre</th>
                        <th>Description</th>
                        <th>Date Expired</th>
                        <th>Go</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">Updated @DateTime.Today.ToShortDateString()</div>
</div>


    
    @Scripts.Render("~/bundles/allChatRoomsPartial")
    <script>
           $(function() {
               AllChatRoomsPartialController.Init();
            });
    </script>
}
