
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NewLogin</title>
    
    <style>
        #imgLogin {
            margin-top: 10%;
        }
        
    </style>
</head>
<body>
<div id="imgLogin">
    <center>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoXEzTOO3vSqXKOhZujzxBm1V7Kp3E37RfMqDTObtfC50BxgR7vQ" alt="stringCupsPicture" class="img-fluid center">
    </center>
</div>
</body>
</html>
