body {
    font-size: 16px;
    overflow: hidden;
    font-family: 'Dosis'!important;
    font-size: 18px!important;
    overflow: hidden !important;
}
.main_section{
    position:relative;
   margin-top:20px;
   left:-10px;
   border-color:white;
   
}
.container{
    height:100%;
}
#custom-search-input {
  background: #daf5f7 none repeat scroll 0 0;
  margin: 0;
  padding: 5px;
  height:62.5px;
}
   #custom-search-input .search-query {
   background: #fff none repeat scroll 0 0 !important;
   border-radius: 4px;
   height: 33px;
   margin-bottom: 0;
   padding-left: 7px;
   padding-right: 7px;
   }
   #custom-search-input button {
   background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
   border: 0 none;
   border-radius: 3px;
   color: #666666;
   left: auto;
   right:0px;
   margin-bottom: 0;
   margin-top: 7px;
   
   padding: 2px 0px;
   position: absolute;
   right: 0;
  
   }
   .search-query:focus + button {
   z-index: 3;   
   }
   .all_conversation button {
   background: #daf5f7  none repeat scroll 0 0;
   border: 1px solid #daf5f7;
   height: 38px;
   text-align: left;
   width: 100%;
   }
   .all_conversation i {
   background: #daf5f7 none repeat scroll 0 0;
   border-radius: 100px;
   color: #636363;
   font-size: 17px;
   height: 30px;
   line-height: 30px;
   text-align: center;
   width: 30px;
   }
   .all_conversation .caret {
   bottom: 0;
   margin: auto;
   position: absolute;
   right: 15px;
   top: 0;
   }
   .all_conversation .dropdown-menu {
   background: #daf5f7 none repeat scroll 0 0;
   border-radius: 0;
   margin-top: 0;
   padding: 0;
   width: 100%;
   
   }
   .all_conversation ul li {
   border-bottom: 1px solid #daf5f7;
   line-height: normal;
   width: 100%;
     font-family:'Dosis';
   }
    .all_conversation ul li a:hover {
        background: #86bff6 none repeat scroll 0 0;
        color: #333;
        font-family: 'Dosis';
    }
    .all_conversation ul li a {
        font-family: 'Dosis';
        color: #333;
        line-height: 30px;
        padding: 3px 20px;
    }
 
   .top_nav {

   overflow: visible;
   }
   .member_list .contact_sec {
   margin-top: 3px;
   }

   .member_list li {
   font-size:14px;
   border-bottom: 1px solid #dddddd;
   padding: 6px 0 6px 0;
   }
   .member_list ul {
   border: 1px solid #dddddd;
   }
   .chat-img img {
   height: 34px;
   width: 34px;
   
   }
   
    
   .member_list li:last-child {
        border-bottom:none;
   }

    .member_list {
        border-top:cyan !important;
        max-height: 300px !important;
}
   .sub_menu_ {
  background: #c6ddf1 none repeat scroll 0 0;
  left: 100%;
  max-width: 233px;
  position: absolute;
  width: 100%;
}
.sub_menu_ {
  background: #f5f3f3 none repeat scroll 0 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: none;
  left: 100%;
  margin-left: 0;
  max-width: 233px;
  position: absolute;
  top: 0;
  width: 100%;
}
.all_conversation ul li:hover .sub_menu_ {
  display: block;
}
.new_message_head button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
}
.new_message_head {
  background: #daf5f7 none repeat scroll 0 0;
  float: left;
    top: 11%;
    left: 0;
    position: fixed;
  font-size: 13px;
  font-weight: 500;
  padding: 18px 10px;
  width: 100%;
  height:100px;
}
#rowChatEngine{
    top:0;
    margin-top:0;
}
.message_section {
   
   height:80%;

  border: 1px solid #dddddd;

}
.chat_sidebar{
    
   height:80%;
    top:0px;
    margin-top:0px;
}
.chat_container{
    height:90%;
}
.chat_area {
  float: left;
  max-height: 600px;
  overflow-x:hidden;
  word-wrap: break-word;
  overflow-y: scroll;
  width: 100%;
  text-overflow: clip;
  white-space: normal;


}
.chat_area li:first-child{
    padding: 20px 15px 10px 0;
    margin-top:20px;
   
}
.chat_area li {
  padding: 0 15px 10px 0;
  margin-top:0px;
}
.chat_area li .chat-img1 img {
  height: 30px;
  width: 30px;
  display:inline-block;
}

.chat_area .chat-body1 {
  margin-left: 30px;
  background-color:#e5e5e4;
  border-radius:25px;
}

.chat_area .admin_chat .chat-body1 {
  margin-left: 100px;
  margin-right: 30px;
  background-color:aliceblue;
  border-radius:25px;
}
.chat_area li:last-child {
  padding-bottom: 10px;
}


#send {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4%;
    margin-top: 0px;
}

#exitRoomBtn {
   left: -50px!important;
} 


#chatEngineFooter textarea.form-control {
    max-width: 82%;
    padding: 10px;
    height: 50px;
    margin-left:20px;
    padding-top: .6rem;
    padding-bottom: .6rem;
    resize: none;
    border: none;
    overflow: auto;
    outline: none;
    display: inline-block;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.chat_bottom {
  float: left;
  margin-top: 13px;
  width: 100%;
}
.upload_btn {
  color: #777777;
}
.sub_menu_ > li a, .sub_menu_ > li {
  float: left;
  width:100%;
}
.member_list li:hover {
  background: #428bca none repeat scroll 0 0;
  color: #fff;
  cursor:pointer;
}

.inner-list{
    height:100%;
    list-style:none;
    padding-left:5px;
   
   
}
.real_message {
    padding: 2px;
    font-family: 'Dosis';
    display: inline-block;
}


.chatRealUsername,.chat_time{
    color:grey;
    font-size:small;
   display:inline-block;
   padding-right:15px;
   
}

.chatRealMessage{
    color:black;
    font-size:medium;
    display:inline-block;
    
}
#privateMessageIcon{
    display:inline-block;
    height:30px;
    width:30px;
    margin-right:-10px;
   
}
#chatEngineHeadContainer {
   
    background-color: white;
}
#ChatEngineContainer {
    display: none;
    width: 100%!important;
    margin: 0 !important;
    font-size: 20px!important;
}

.container-fluid {
    padding: 0 !important;
}
#chatEngineHeadContainer .col-lg-6:nth-child(1) {
    padding-right: 0 !important;
}
#chatEngineHeadContainer .col-lg-6:nth-child(2) {
    padding: 0!important;
}
#chatEngineHeadContainer .col-lg-2 {
    padding-left: 0 !important;

}
.chatEngineMiddle .col-lg-2 {
    padding-left: 0 !important;  
}
#messagesContainerArea {
    max-height: 300px;
    min-height: 300px;
    overflow-y: auto;
    margin: 0;
}

@media (min-width:801px)  {#messagesContainerArea {
                               max-height: 300px;
                               min-height: 300px;
                               overflow-y: auto;
                           } }
@media (min-width:1025px) { #messagesContainerArea {
                                max-height: 400px;
                                min-height: 400px;
                                overflow-y: auto;
                            } }
@media (min-width:1281px) {  #messagesContainerArea {
                                 max-height: 750px;
                                 min-height: 600px;
                                 overflow-y: auto;
                             } }

#leaveRoomBtn {
    top: 2%;
    right: 28%;
    float: right;
    z-index: 3339879789877;
    position: fixed;
}

#chatEngineFooter {
    border: 1px solid #d1e0e0;
}
#chatEngineFooterContainer {
   
    margin-top: 0;
    padding-top: 0;
}

#chatEngineFooter {
    max-height: 70px !important;
    background: #daf5f7 none repeat scroll 0 0;
    float: left;
    padding: 5px;
    padding-top: 10px;
    width:100%;
}

#roomsInfo, #roomsInfo2,#roomsInfo3, #usersConnected, .member_list {
    height: 100%;
    width: 100%;
}
#chatEngineMiddle {
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
}
#roomsInfo .list-group-item, #roomsInfo2 .list-group-item {
    height: 100%;
    width: 100%;
} 


#onlineUsersContainer {
    background-color: white;
    overflow: hidden;
}


#cancelFilterBtn {
    outline: none!important;
    border: 0!important;
}

.chatEngineMode {
    background-color: #daf5f7;
}

.list-onlineUsers {
    list-style-type: none;
}

#chatEngineHeadContainer .row {
    height: 100% !important;
  
}
#chatenginehead {
    height: 100% !important;
} .row {
    padding-top: 0 !important;
}
#onlineUsersContainer {
    border: 1px solid #d1e0e0;
    border-top: none!important;
    border-bottom: none!important;
    padding-left: 0 !important;
}
.inner-list img {
    height: 34px;
    width: 34px;
}

/**/

.left,.right {
    width: 100%;
} 

.right {
    float: right;
}




.messageContainer {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    min-height: 80px;
    overflow: hidden;
    -ms-word-break: break-all;
    word-break: break-all;
}

.real_message {
    max-width: 300px;
}
.messageContainer .real_message {
    -ms-word-break: break-all;
    word-break: break-all;
} 
    
    .sameUsername {
        border-color: #D0D0D0;
        background-color: white;
    }

/* Clear floats */
.messageContainer::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */

.inner-list .card.card-body img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

    .inner-list .card.card-body img.right {
        float: right;
        margin-left: 20px;
        margin-right: 0;
    }

.realMessageContent {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

#messagesArea .card-body small {
    font-size: 13px !important;
} 


.inner-list .card {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.messageContainer img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  
}

    /* Style the right image */
    .messageContainer img.right {
        float: right;
        margin-left: 20px;
        margin-right: 0;
        border-radius: 26px;
    }

/* Style time text */
.time-right {
    float: right;
    color: #aaa;
    font-size: smaller;
}

/* Style time text */
.time-left {
    float: left;
    color: #999;
    font-size: smaller;
}

.privateMessage {
    background-color: #ccffcc;
}

.realMessageContent {
    font-size: 17px!important;    
}

#loader {
    margin-top: 30% !important;
    border-top: 16px solid blue;
    border-right: 16px solid whitesmoke;
    border-bottom: 16px solid lightblue;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.chip {
    border-radius: 26px;
    background-color: lightgrey;
    display: inline-block;
    margin: 2px 5px;
    padding: 0px 7px 0px 0px;
    font-size: 12.5px;
}
.chip.chip-md {
    height: 42px;
    line-height: 42px;
    border-radius: 21px;
}

    .chip.chip-md img {
        height: 42px;
        width: 42px;
        border-radius: 26px
    }

.chip.chip-lg {
    height: 52px;
    line-height: 52px;
    border-radius: 26px;
}

    .chip.chip-lg img {
        height: 52px;
        width: 52px;
    }


#headerCardHeight {
    max-height: 5%!important;
}

#headerTableInfo {
    height: 43px !important;
    margin-bottom: -0.6rem !important;
    font-size: 18px!important;
}

    #headerTableInfo tr td {
        font-size: 17px!important;
    }

    #headerTableInfo .btn {
        font-size: 17px !important;
    }
    
    
#card-body-onine-container {
    height: 100% !important;
}
    
    #card-body-online {
        height: 100% !important;
    }


    #card-body-online .chip.chip-lg {
        height: 52px;
        line-height: 52px;
        border-radius: 26px;
        padding-right: 20px;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        width: 12vw;
        background-color: white;
    }
        #card-body-online .chip.chip-lg img {
            padding-top: 0 !important;
            margin-top: 0 !important;
            float: left;
            height: 52px;
            width: 52px;
            border-radius: 26px;
        }
.onlineUserActualPart:hover, .onlineUserActualPart a:hover {
    font-weight: bold;
}
.onlineUserActualPart {
    font-size: 18px!important;
} 


.onlineUserActualPart a {
    font-size: 11px;
    width: 11vw !important;
}
.onlineUsersContainer #card-body-online {
    height: 100% !important;
}

#searchOnlineUsers {
    width: 100%;
    margin-left: 20%;
    margin-top: 0!important;
    padding-top: 0 !important;
}
#card-body-online {
    font-size: 18px!important;
    min-height: 65vh!important;
    
}

.modal-open .modal {
    overflow-x: hidden;
     overflow-y: hidden!important;
}

#fullHeightModalRight td{
    font-size: 14px;
}
#fullHeightModalRight {
    font-size: 15px;
}

#headerTableInfo .card-body {
    padding: 0!important;
}

#headerTableInfo .btn {
    margin-top: 0!important;
    margin-bottom: 4% !important;
}

#tableInModalRoomInfos {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

#chatEngineFooterContainer {
    border-bottom: none;
    border-bottom-color: #daf5f7 !important;
}

.modal-footer > :not(:last-child) {
    margin-right: 4rem!important;
}

.modal-content {
    overflow-y: auto !important;
}
/*Media queries*/
/* phones*/
@media only screen and (max-width: 600px) {}

/* XSmall devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

    /* small devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

    /* medium small devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
   
}

   /*Medium  laptops*/
@media only screen and (min-width: 1200px) and (max-width:1366px) {

    .chatEngineMode {
        min-height: 89% !important;
        overflow: hidden !important;
    }

    .sticky-footer {
        width: 100% !important;
    }

    #messagesContainerArea {
        min-height: 400px;
        max-height: 450px;
    }

    #chatEngineMiddle {
        max-height: 450px !important;
    }

    #card-body-online .chip.chip-lg img {
        display: none;
    }

    #searchOnlineUsers {
        margin-left: 5%;
    }

    #chatEngineFooter textarea.form-control {
        max-width: 81%;
    }

    #loader {
        margin-top: 20% !important;
        border-top: 16px solid blue;
        border-right: 16px solid whitesmoke;
        border-bottom: 16px solid lightblue;
    }
}

/* Extra large devices (large laptops and desktops > 15.6inch ) */
@media only screen and (min-width: 1367px) {
    .chatEngineMode {
        min-height: 89% !important;
        overflow: hidden !important;
    }
    .sticky-footer {
        width: 100% !important;
       
    }
    #messagesContainerArea {
        max-height: 750px;
        min-height: 750px!important;
        overflow-y: auto;
    }

} 