#createInfo {
    width:40%;
    float:right;
    position:relative;
    display:inline-block;
    margin-right:10%;
    margin-bottom:-10%;
}

a {
    color:#27428d;
    font-family:Open sans;
    font-size:18px;
  
}
a:hover{
      text-decoration:none;
      color:cornflowerblue;
}
#footer{
    margin-top:130px;
 
}



#cardBlockCreateRoom {
    background-color: #007bff;
}

body {
    overflow-y: hidden;
}