/*body {*/
/*   position: relative;*/
/*}*/

/*#createInfo {*/
/*    width:40%;*/
/*    float:right;*/
/*    position:relative;*/
/*    display:inline-block;*/
/*    margin-right:10%;*/
/*    margin-bottom:-10%;*/
/*}*/

a {
    color:#27428d;
    font-family:Open sans;
    font-size:18px;
  
}
a:hover{
      text-decoration:none;
      color:cornflowerblue;
}




#cardBlockCreateRoom {
    background-color: #007bff;
}

/*.row {*/
/*    margin-top: 5%!important;*/
/*    max-height: 20% !important;*/
/*}*/

/*#userRoomsList {*/
/*    overflow-y: scroll;*/
/*}*/
/*#usersInfo #nav-tabContent #list-messages {*/
/*    height: 220px !important;*/
/*    overflow-y: auto !important;*/
/*}*/