
#AllRoomsPanel {
    display: none;   
}


#panelMessage {
    margin-left: auto;
}

#IndexContainer {
    display: block;
}


#roomsByCategory {
    display: none;
}
#redirectPanel {
    margin-top: 2%;
    display: none;
}

#cardBlock a:first-child {
   
    margin-right: 60%;
}
#cardBlock {
    background-color: #007bff;
}

#redirectPanel2 {
    margin-top: 2%;
}

#cardBlock2 a:first-child {
    margin-right: 60%;
}

#cardBlock2 {
    background-color: #007bff;
}