
#AllRoomsPanel {
    display: none;   
}


#panelMessage {
    margin-left: auto;
}

#IndexContainer {
    display: block;
}


#roomsByCategory {
    display: none;
}
#redirectPanel {
    margin-top: 2%;
    display: none;
}

#cardBlock a:first-child {
   
    margin-right: 60%;
}
#cardBlock {
    background-color: #007bff;
}

#redirectPanelAllChatRooms {
    margin-top: 2%;
}

#cardBlockallChatRooms a:first-child {
    margin-right: 60%;
}

#cardBlockallChatRooms {
    background-color: #007bff;
}

#redirectPanelAllChatRooms {
    margin-top: 2%;
}
#cardBlockRoomsAdmin {
    background-color: #007bff;
}

    #cardBlockRoomsAdmin a:first-child {
        margin-right: 60%;
    }

#listModal {
    list-style-type: none;
}