body {
    padding-top: 50px;

    background-color: white !important;
    font-family: 'Dosis', sans-serif!important;
}

body, html {
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.5s; /* Firefox < 16 */
    -ms-animation: fadein 0.5s; /* Internet Explorer */
    -o-animation: fadein 0.5s; /* Opera < 12.1 */
    animation: fadein 0.5s;
    height: 100%;
    font-family: 'Dosis'
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
                                                                                                                     
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/*.form-horizontal .control-label {*/
/*    margin-right: 15px;*/
/*}*/
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}



.panel-heading {
    padding: 10px 15px;
}

.navbar-inverse {
    background-color: #4a629a;
    border-color: #4a629a;
}

    .navbar-inverse .navbar-nav > li > a {
        color: #ffffff;
    }

    .navbar-inverse .navbar-brand {
        color: #ffffff;
    }

    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
        background-color: #3c4d75;
    }

    .navbar-inverse .navbar-nav > .dropdown > a .caret {
        border-top-color: #ffffff;
        border-bottom-color: #ffffff;
    }


.dropdown-menu {
    box-shadow: none;
}

.navbar-brand {
    font-weight: 700;
    padding: 12px 15px;
    margin-left: -30px;
    margin-right: 40px;
}

body {
    font-size: 15px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: Open sans,"Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    font-size: 17px;
    border-radius: 9px;
}

.col-sm-6 {
    border: 3px #b8eee7;
}

#allrooms {
    margin-top: 3%;
    width: 70%;
    margin-left: 15%;
}

#allroomButton {
    width: 7em;
    margin-left: 10%;
}

#music {
    border: 3px #b8eee7;
}

.thumbnail {
    margin-top: 10%;
    height: 370px;
}

    .thumbnail a {
        position: absolute;
        margin: auto;
        bottom: 10px;
        right: 35%;
    }

    .thumbnail h3 {
        position: absolute;
        margin: auto;
        bottom: 40%;
        right: 40%
    }

    .thumbnail h5 {
        position: absolute;
        margin: auto;
        bottom: 25%;
        line-height: 130%;
    }

#username {
    text-overflow: ellipsis;
}

#freeChatInfotable tr td {
    width: 12em;
    padding-right: 10%;
    text-overflow: ellipsis;
}

.category {
    margin-bottom: 5%;
}

#topRightMenu, #topRightMenu li {
    text-overflow: ellipsis;
    width: 220px;
}

#rightMenuUl {
    width: 220px;
    text-overflow: ellipsis;
}

#users {
    margin-right: 10%;
}

#RoomDetails {
    background-color: red;
    display: none;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

#info:hover + #RoomDetails {
    z-index: 2;
    display: block;
}


#topRightMenu, #topRightMenu li {
    text-overflow: ellipsis;
    width: 220px;
}

.navbar-brand {
    margin-left: 2% !important;
    font-family: 'Dosis';
    font-size: x-large;
}

#searchBarInput {
    margin-left: 4%;
    width: 180px;
}

#mainNav, #leftNavBar {
    background-color: #ccebff !important;
}

#loader {

    z-index: 1;
    width: 150px;
    height: 150px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}

#IndexContainer {
    display: none;
    text-align: center;
}

/*.table td {*/
/*    float: left !important;*/
/*    display: block !important;*/
/*}*/



/*Bootsrap Overrides*/
.glyphicon-arrow-right {
    color: black;
}

.img-list {
    list-style-type: none;
}
    .img-list li {
        margin: 0;
        margin-top: 5%;
        padding-bottom: 2%;
        height: 150px !important;
    }
        .img-list li:hover {
            background-color: #ecf2f9;
        }
#imglistMainCategories .list {
    list-style-type: none !important;
    max-width: 1400px;
    margin: 20px auto;
  
}

#imglistMainCategories .img-list .li-img a {
    text-decoration: none !important;
}

#imglistMainCategories .li-sub p {
    margin: 0;
}

#imglistMainCategories .list li {
    border-bottom: 1px solid #ccc;
    display: table;
    border-collapse: collapse;
    float: left;
    width: 100%;
}

#imglistMainCategories .inner {
    display: table-row;
    overflow: hidden;
    text-decoration: none !important;
    color: #333333;
}
    #imglistMainCategories .inner h3 {
        color: #264d73 !important;
    }
    #imglistMainCategories .inner:hover {
        color: #204060 !important;
    }

#imglistMainCategories .li-img {
    display: table-cell;
    vertical-align: middle;
    width: 30%;
    padding-right: 1em;
}

    #imglistMainCategories .li-img img {
        display: block;
        width: 100%;
        max-height:120px ;
        border-radius: 10%;
        transition: all .2s ease-in-out; 
    }
/*        #imglistMainCategories .li-img img:hover {*/
/*            transform: scale(1.1);*/
/*        }*/

#imglistMainCategories .li-text {
    display: table-cell;
    vertical-align: middle;
    width: 70%;
}

#imglistMainCategories .li-head {
    margin: 10px 0 0 0;
}

#imglistMainCategories .li-sub {
    margin: 0;
}

.goToRoomsBtn {
    display: block;
    margin: 0;
    top:-20%;
    position: relative;
    float: right;
    right: 5%;
    z-index: 2;

}
.goToRoomsBtn:hover {
    display: block!important;
    background-color: #264d73;

}
@media all and (min-width: 45em) {
    #imglistMainCategories .list li {
        float: left;
        width: 50%;
    }
}

@media all and (min-width: 75em) {
    #imglistMainCategories .list li {
        width: 33.33333%;
    }
}

/* for flexbox */
@supports(display: flex) {
    #imglistMainCategories .list {
        display: flex;
        flex-wrap: wrap;
    }

        #imglistMainCategories .li-img,
        #imglistMainCategories .li-text,
        #imglistMainCategories .list li {
            display: block;
            float: none;
        }

    #imglistMainCategories .li-img {
        align-self: center; /* to match the middle alignment of the original */
    }

    #imglistMainCategories .inner {
        display: flex;
    }
}




#registeredUsers {
    width: 100%;
   
}
#registeredUsers_paginate {
    float: right;
}
#allChatRooms_paginate {
    float: right;
}

#imgLogin {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#blockBtnMAinCateg {
    margin-top: 3%;
}
#leftPanel-fullchatmode {
    display: none;
}