@model IEnumerable<FreeChat.Core.Models.Domain.User>
@{
    ViewBag.Title = "Users";
}

@Styles.Render("~/bundles/adminTemplateLayoutStyle")

    <div class="card m-5">
        <div class="card-header">
            <i class="fa fa-table"></i> Registered Users
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="registeredUsers" class="table table-bordered" >
                <thead>
                <tr>
                    <th>Id</th>
                    <th>UserName</th>
                    <th>Email</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">Updated @DateTime.Today.ToShortDateString()</div>
    </div>




@section scripts{
    @Scripts.Render("~/bundles/IndexView")

    <script>

        var $table;

        $(document).ready(function() {
            $table = $("#registeredUsers").DataTable({
                ajax: {
                    url: "/api/Users/GetRegisteredUsers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Id"
                    },
                    {
                        data: "UserName"
                    },
                    {
                        data: "Email"
                    },
                    {
                        data: "Id",
                        render: function(data, type, user) {

                            if (user.Active) {
                   
                                return `<button class='btn btn-outline-warning deactivate waves-effect js-changestatus ' data-user-id=${user.Id
                                    }>Deactivate</button>`;
                            } else {
                             
                                return `<button class='btn btn-outline-warning activate waves-effect js-changestatus' data-user-id=${user.Id
                                    }>Activate</button>`;
                            }
                        }
                    }
                ]
            });


            $("#registeredUsers").on("click",
                ".js-changestatus",
                function() {
                    if ($(this).hasClass("deactivate")) {
                        $(this).toggleClass("deactivate");
                        $(this).toggleClass("activate");
                        var button = $(this);
                        var userId = button.attr("data-user-id");
                        bootbox.confirm("Are you sure you want to deactivate this user?",
                            function(result) {
                                if (result) {
                                    $.ajax({
                                        url: `/api/Users/UpdateUserActiveStatus?status=false&userId=${userId}`,
                                        method: "POST",
                                        success: function(response) {
                                            $table.row(button.text("Activate")).draw();
                                        }
                                    });
                                }
                            });
                    } else {
                        var button2 = $(this);
                        var userId2 = button2.attr("data-user-id");
                        $(this).toggleClass("deactivate");
                        $(this).toggleClass("activate");
                        bootbox.confirm("Are you sure you want to activate this user?",
                            function(result) {
                                if (result) {
                                    $.ajax({
                                        url: `/api/Users/UpdateUserActiveStatus?status=true&userId=${userId2}`,
                                        method: "POST",
                                        success: function(response) {
                                            $table.row(button2.text("Deactivate")).draw();
                                        }
                                    });
                                }
                            });
                    }
                });
        });
    </script>


}