@model IEnumerable<FreeChat.Models.ApplicationUser>
@{
    ViewBag.Title = "Users";
}

@Styles.Render("~/bundles/adminTemplateLayoutStyle")

    <div class="card m-5">
        <div class="card-header">
            <i class="fa fa-table"></i> Registered Users
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="registeredUsers" class="table table-bordered" >
                <thead>
                <tr>
                    <th>Id</th>
                    <th>UserName</th>
                    <th>Email</th>
                    <th>Status</th>
                  

                </tr>
                </thead>
                <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">Updated @DateTime.Today.ToShortDateString()</div>
    </div>




@section scripts{
    @Scripts.Render("~/bundles/IndexView")

    @*        <script type="text/javascript">*@
    @*            $(function() {*@
    @*                IndexController.Init();*@
    @*            });*@
    @*        </script>*@

    <script>

        var $table;

        $(document).ready(function() {
            $table = $("#registeredUsers").DataTable({
                ajax: {
                    url: "/api/Users/GetRegisteredUsers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Id"
                    },
                    {
                        data: "UserName"
                    },
                    {
                        data: "Email"
                    },
                    {
                        data: "Id",
                        render: function(data, type, user) {

                            if (user.Active) {
                                console.log("active");
                                console.log(user);
                                return `<button class='btn-link js-deactivate btn-info' data-user-id=${user.Id
                                    }>Deactivate</button>`;
                            } else {
                                console.log("deaactive");
                                console.log(user);
                                return `<button class='btn-link js-deactivate btn-warning' data-user-id=${user.Id
                                    }>Activate</button>`;
                            }
                        }
                    }
                ]
            });


            $("#registeredUsers").on("click",
                ".js-deactivate",
                function() {
                    if ($(this).hasClass("active")) {
                        var button = $(this);
                        var userId = button.attr("data-user-id");
                        bootbox.confirm("Are you sure you want to deactivate this user?",
                            function(result) {
                                if (result) {
                                    $.ajax({
                                        url: `/api/Users/UpdateUserActiveStatus?status=false&userId=${userId}`,
                                        method: "POST",
                                        success: function(response) {
                                            $table.row(button.text("Activate").removeClass("btn-info")
                                                .addClass("btn-warning")).draw();

                                        }
                                    });
                                }
                            });
                    } else {
                        var button2 = $(this);
                        var userId2 = button2.attr("data-user-id");
                        bootbox.confirm("Are you sure you want to activate this user?",
                            function(result) {
                                if (result) {
                                    $.ajax({
                                        url: `/api/Users/UpdateUserActiveStatus?status=false&userId=${userId2}`,
                                        method: "POST",
                                        success: function(response) {
                                            $table.row(button2.text("Deactivate").removeClass("btn-warning")
                                                .addClass("btn-info")).draw();


                                        }
                                    });
                                }
                            });
                    }
                });
        });
    </script>


}